.card{
    margin: 20px;
    min-height: 400px;
    max-height: 400px;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
.card{
   
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}
.card-body {
    align-items:center;
    max-width: 100%;
    max-height: 100%;
}
.card img{
  margin: auto;
  min-height: 80%;
  max-height: 80%;
  max-width: 80%;
  min-width: 80%;
}
.card-text{
  min-height: 20%;
  max-height: 90%;
  max-width: 90%;
  min-width: 20%;
}
