.navbar-collapse .collapse {
  height: 90px;
  justify-content: space-between;
}
.navbar-collapse .collapse.NavItem {
  margin: 70px;
}
.navbar-collapse .collapse.brandText {
  color: white;
}
.NavItem{
  display: flex;
  justify-content: space-around;
}