.App{
  margin: auto;
  width: 70%;
}
.carrito {
  width: 40px;
  height: 30px;

}


.read-the-docs {
  color: #888;
}
nav {
  text-decoration: none;
  color: rgb(255, 255, 255);
  z-index: 1;
}
nav ul :hover {
  background-color: rgb(3, 47, 97);
  transition: 0.7s;
}
nav ul :hover li :hover {
  background-color: rgb(3, 47, 97);
  transition: 0.7s;
}
.Cards-Container{
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(134, 134, 134, 0.973);
  
}
h2{
  display: flex;
  justify-content: center;
  background-color: #ff0000;
}
