.App{
  margin: auto;
  width: 70%;
}
.carrito {
  width: 40px;
  height: 30px;

}


.read-the-docs {
  color: #888;
}
nav {
  text-decoration: none;
  color: rgb(255, 255, 255);
  z-index: 1;
}
nav ul :hover {
  background-color: rgb(3, 47, 97);
  transition: 0.7s;
}
nav ul :hover li :hover {
  background-color: rgb(3, 47, 97);
  transition: 0.7s;
}
h2{
  display: flex;
  justify-content: center;
  background-color: #ff0000;
}
